.videoModal {
  position: fixed;
  inset: 0;
  z-index: 9999999999;
  top: 120px;
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.videoContent {
  position: relative;
  max-width: 900px;
  width: 90%;
  margin: 100px auto;
  background: #000;
  border-radius: 12px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 500px;
  }
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 11111;
    background: #000;
    width: 50px;
    border-bottom-left-radius: 40px;
}
